@import "./_base.scss";
body{
    &::-webkit-scrollbar{
        width: 0.5rem;
    }
    
    &::-webkit-scrollbar-track{
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb{
        border-radius: 10px;
        background-color: #929292;
    }
}

.app__container {
    display: flex;
    height: auto;

    .app__main {
        margin-top: 56px;
        margin-left: 250px;
        position: relative;
        width: calc(100% - 250px);
    }

    
}

@media screen and (max-width: $breakpoint-medium) {
    .app__container {
        .app__main {
            margin-left: 60px;
            width: calc(100% - 60px);
        }
    }
}

@media screen and (max-width: $breakpoint-extra-small) {
    .app__container {
        .app__main {
            margin-left: 0px;
            width: 100%;
        }
    }
}
